@import "tailwindcss";

:root {
  --text-sm: 15px;
}

@font-face {
  font-family: "kalpurush";
  src: url("./fonts/kalpurush.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nikosh";
  src: url("./fonts/nikosh.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: kalpurush;
}

/* @utility container {
  padding: 0 20px;
  @variant lg {
    padding: 0 30px;
  }
  @variant 2xl {
    max-width: 86rem;
  }
} */

.container {
  @apply mx-auto max-w-344 px-4 sm:px-6 lg:px-8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  @apply leading-tight;
}

.font-nikosh {
  font-family: nikosh !important;
}

.text-sm {
  font-size: var(--text-sm);
}
